h1= title
div.article
    div.created_at= article.created_at
    h2
      div.title= article.title
        h4
          a(href="/article/"+article._id.toString()+"/del")!="Delete article"
    div.body= article.body
    p
      h3
        | Comments:

    - each comment in comments
      div.comment
        h3
          div.person= comment.name+":"
        div.comment= comment.comment
        p
    div
      form( method="post", action="/article/addComment")
        input( type="hidden", name="_id", value=article._id.toString())
        div
          span Author :
          input( type="text", name="person", id="addCommentPerson")
        div
          span Comment :
          textarea( name="comment", rows=5, id="addCommentComment")
        div#editArticleSubmit
          input(type="submit", value="Send")
